/* || Base */

:root {
	font-size: 22px;
	--content-width: 1000px;
	--post-width: 1000px;
	--filter-normal: opacity(0.5); 
	--filter-hover: opacity(0.75); 
	--side-padding: 30px;
	--logo-move-delay: 0.1s;
	--logo-move-duration: 0.18s;
	--homepage-fadein-time: 1s;

	--homepage-title-header-width: calc((100vw - 2*var(--side-padding) - var(--card-column-gap)) / 2);
	
	--single-column-max-width: 600px;

	--card-column-gap: 16px;
	--card-row-gap: 20px;
	--card-horizontal-shadow-shift: 4px;
	--card-content-side-padding: 15px;

	--card-width: calc(100vw - 2*var(--side-padding) - var(--card-horizontal-shadow-shift));
	--card-content-width: calc(var(--card-width) - 2*var(--card-content-side-padding));
	--card-title-padding: calc(var(--card-content-width) * 0.015);
	--card-title-font-size: calc((var(--card-content-width) - 2*var(--card-title-padding)) * 0.08);

	--article-width: min(1060px, calc(100vw - 2*var(--side-padding)));
	--background-color: #f8f9fa
}

h1 {
	margin: 0;
	font-weight: 500;
	font-size: 50px;
}

h2 {
	margin-top: 1.4em;
	margin-bottom: 0.6em;
	font-weight: 500;
	font-size: 38px;
}

h3 {
	margin-top: 1em;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 28px;
}

p {
	margin-top: 0.8em;
	font-size: 22px;
	line-height: 1.6em;
	word-break: break-word;
}

* {
	font-family: 'Labrada';
	background-color: var(--background-color);
}

a {
	color: rgb(51, 102, 204);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(107, 75, 161);
}

.homepage-main {
	margin: auto;
	padding: 20px var(--side-padding) 40px var(--side-padding);
	max-width: var(--content-width);
}


.body-style {
	margin: 0px;
}

button {
    border: 1px solid rgb(209,213,219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

button:hover {
	filter: brightness(95%);
}

button:active {
	filter: brightness(85%);
}


/* || Nav Bar */

.navbar {
	padding-top: 10px;
	padding-left: min(var(--side-padding), 20px);
	padding-bottom: 20px;
	padding-right: 20px;
}

.navbar-logo {
	margin: 0px;
	padding: 0px;
	font-size: 32px;
	font-weight: 700;
	display: inline-block;
}

.navbar-logo > * {
	top: 0rem;
	position: relative;
	display: inline-block;
	transition-property: top;
	transition-duration: var(--logo-move-duration);
	transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
}

@media (pointer: fine) {
	.navbar-chars-e {
		transition-delay: calc(0*var(--logo-move-delay));
	}
	.navbar-chars-o {
		transition-delay: calc(1.2*var(--logo-move-delay));
	}
	.navbar-chars-period {
		transition-delay: calc(2*var(--logo-move-delay));
	}
	
	.navbar-logo:hover * {
		transition-duration: var(--logo-move-duration);
	}
	
	.navbar-logo:hover .navbar-chars-e {
		transition-delay: calc(0*var(--logo-move-delay));
		top: -0.14lh;

	}
	.navbar-logo:hover .navbar-chars-o {
		transition-delay: calc(1*var(--logo-move-delay)); 
		top: -0.14lh;
	}

	.navbar-logo:hover .navbar-chars-period {
		transition-delay: calc(2*var(--logo-move-delay));
		top: -0.36lh;
	}
}

.home-anchor {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin: 0px;
}

.home-anchor:visited {
	color: black;
}


/* || Home Page */

.homepage-header {
	display: grid;
	gap: var(--card-column-gap);
	padding-bottom: 40px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr; 
}

.homepage-titles {
}

.homepage-maintitle {
	/* margin-top: calc(var(--homepage-title-header-width)*0.05); */
	font-weight: 200;
	font-size: calc(var(--homepage-title-header-width)*0.18);
	animation: fadeIn calc(1.5*var(--homepage-fadein-time)), slideIn 1.5s;
}

.homepage-subtitle {
	margin-top: calc(var(--homepage-title-header-width)*0.07);
	margin-bottom: 20px;
	font-size: calc(var(--homepage-title-header-width)*0.09);
	animation: fadeIn calc(1.5*var(--homepage-fadein-time)), slideIn 1.5s;
	animation-delay: 0.3s;
	opacity: 0;
	animation-fill-mode: forwards, none;
	white-space: pre-line;
	line-height: 1.3em;
	font-weight: 300;
}

.homepage-profilediv {
	margin: 0 0 0 auto;
	display: inline-block;
	animation: fadeIn var(--homepage-fadein-time);
}

.homepage-profilepicture {
	width: 100%;
	border-radius: 20px;
}

.homepage-cardheader {
	font-size: calc(var(--homepage-title-header-width)*0.1);
	font-weight: 500; 
	padding-left: 2px;
	padding-bottom: 25px;
	animation: fadeIn calc(2*var(--homepage-fadein-time));
	animation-delay: 0.2s;
	opacity: 0;
	animation-fill-mode: forwards, none;
}

.homepage-cardcontainer {
	display: grid;
	column-gap: var(--card-column-gap);
	row-gap: var(--card-row-gap);
	grid-template-columns: repeat(1, 1fr);
	animation: fadeIn calc(2*var(--homepage-fadein-time));
	animation-delay: 0.2s;
	opacity: 0;
	animation-fill-mode: forwards, none;
}	

/*.card-container::after {
	content: "";
	flex: 0 0 220px;
} */

/* || Article Cards */

.card-anchor {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: black;	
	text-decoration: none;
	background: white;
	border: none;
	border-radius: 20px;
	box-shadow: 2px 4px 12px rgba(0,0,0,.15);
	transition: .3s cubic-bezier(0,0,.5,1);
	margin-right: var(--card-horizontal-shadow-shift);
}

@media (hover: hover) and (pointer: fine) {
	.card-anchor:hover {
		transition: .3s cubic-bezier(0,0,.5,1);
		transform: scale(1.01);
		box-shadow: 2px 4px 12px rgba(0,0,0,.25);
		filter: none;
		text-decoration: none;
	}
}


.card-content {
	padding: 10px var(--card-content-side-padding) 12px var(--card-content-side-padding);
	box-sizing: border-box;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: top;
}

.card-title {
	margin: 0px;
	padding-bottom: 2px;
	font-weight: 400;
	font-size: var(--card-title-font-size);
	color: black;
	transition: 0.15s ease-out;
}

.card-imagecontainer {
	width: 100%;
	aspect-ratio: 8 / 7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-image {
    max-width: 100%;
	max-height: 100%;
}

.card-textcontainer {
	padding: var(--card-title-padding);
	flex: 1;
}

.card-date {
	color: grey;
	/*position: absolute;*/
	bottom: 0;
	left: 0;
	font-size: calc(var(--card-title-font-size) * 0.7);
}

/* || Article */

.article-main {
	/* background: rgba(255, 255, 255, 0); */
	margin: auto;
	padding: 20px var(--side-padding) 40px var(--side-padding);
	max-width: var(--post-width);
}


.article-maintitle {
	font-weight: bold;
}

.article-subtitle {

}

.article-datediv {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.article-date {
	color: grey;
	font-size: 20px;
	padding-top: 0.5em;
}

.article-imagecontainer {
	margin: auto;
	max-width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

blockquote {
	margin: 0px;
	padding-inline-start: 40px;
	padding-inline-end: 20px;
	border-left: 6px solid  rgb(200, 200, 200);
}

/* || Footer */

footer {
	padding-top: 80px;
	padding-bottom: 40px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

.footer-div {
	max-width: var(--content-width);
	padding-top: 20px;
	border-top: 1px solid #808080ad; 
	margin: auto;
}

.footer-logodiv {
	margin-bottom: 16px;
	margin-left: 2px;
}

.footer-logo {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 26px;
	transition: 0.2s ease-in;
	filter: var(--filter-normal); 
}

.footer-logo:hover {
	transition: 0.2s ease-out;
	filter: var(--filter-hover);
	text-decoration: none;
}

.footer-logo:visited {
	color: black;
}

.footer-copyright {
	padding-top: 14px;
	padding-left: 3px;
	display: block;
	filter: var(--filter-normal); 
}

/* || Social Icons */

.socialrow-div {}

.socialrow-anchor {
	text-decoration: none;
	height: 30px;
	width: 30px;
	margin-right: 10px;
	display: inline-block;
}

.socialrow-row {
	padding-left: 1px;
	grid-gap: 5px;
}

.socialrow-icon {
	max-width: 100%;
	filter: var(--filter-normal); 
	transition: 0.2s ease-in;
}

.socialrow-icon:hover {
	filter: var(--filter-hover); 
	transition: 0.2s ease-out;
}

/* || Article Content */

iframe {
	border-radius: 10px;
}


.footnotes ol {
	padding-inline-start: 1em;
}

sup:target *, sup:focus *{
	animation: refspotlight 3s;
	border-radius: 4px;
}



sup {
	font-size: 0.7em;
	vertical-align: super;
	/* position: relative; */
	/* top: -0.5em; */
	/* vertical-align: baseline; */
	text-align: center;
	line-height: 1em;
}

.footnote-ref {
	padding-bottom: 2px;
	text-align: center;
	font-family: 'Segoe UI';
}

.footnote-ref::before {
	padding-left: 1px;
    content: '[';
}

.footnote-ref::after {
	padding-right: 1px;
    content: ']';
}

.footnotes li p {
	margin: unset;
	padding: 0.3em 0em 0.3em 0.4em;
	border-radius: 10px;
}

.footnotes li:target *,
.footnotes li:focus * {
	animation: refspotlight 4s;
}

@keyframes refspotlight {
	0% {
		background: var(--background-color);
	}
	30% {
		background: rgb(224, 224, 224);
	}
	100% {
		background: var(--background-color);
	}
}

code {
	background-color: rgb(226, 226, 226);
	padding: 0.14rem 0.3rem 0.18rem 0.3rem;
	border-radius: 8px;
	white-space: break-spaces;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
}

.highlight div,
.highlight pre {
	padding: 1.8em 1em 1em 1em;
	border-radius: 10px;
	font-size: 1rem;
	overflow-x: overlay;
}

.highlight code {
	/* font-family: 'Roboto Mono', monospace; */
	white-space: pre;
	padding: 0px;
}


.highlight code span { 
	font-family: 'Roboto Mono', monospace; /* TODO: fix being able to include with above block */
	line-height: 1.4em;
	background-color: rgb(226, 226, 226);	
}

.chroma * {
	font-family: 'Roboto Mono', monospace;
}

pre code:before {
	display: block;
	content: attr(data-lang);
	margin-top: -1.6em;
	color: rgb(160, 160, 160);
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
}

.highlight pre::-webkit-scrollbar {
	height: 1em;
}

.highlight pre::-webkit-scrollbar-thumb {
	background-color: rgb(160, 160, 160);
	border-radius: 1em;
	border: 0.28em solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

.highlight {
	pre {
		background-color: rgb(226, 226, 226) !important;
	}
}

article table::-webkit-scrollbar {
	height: 1em;
}

article table::-webkit-scrollbar-thumb {
	background-color: rgb(160, 160, 160);
	border-radius: 1em;
	border: 0.28em solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

article table {
	border-collapse: collapse;
	overflow-x: overlay;
	width: 100%;
	display: block;
	border: 3px solid  rgb(226, 226, 226);
	border-radius: 10px;
	/* padding-bottom: -1em; */
}

article th {
	vertical-align: bottom;
	text-align: left;
	padding: 8px;
	min-width: 65px;
}

article td {
	vertical-align: top;
	padding: 8px;
}

tr:nth-child(odd) td {
    background-color:rgb(226, 226, 226);
}

/* || Breakpoints */

/* Single column cards */
@media screen and (max-width: 600px) {
	:root {
		font-size: 17px;
		--homepage-title-header-width: calc(100vw - 2*var(--side-padding));
		--side-padding: calc(5vw);
	}

	h1 { font-size: 40px; }
	h2 { font-size: 31px; }
	h3 { font-size: 23px; }
	p { font-size: 17px; }
	.article-date { font-size: 16px; }

	.homepage-header {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}
}

/* Double column cards */
@media screen and (min-width: 601px) {
	:root {
		--card-width: calc((100vw - 2*var(--side-padding) - var(--card-horizontal-shadow-shift) - var(--card-column-gap)) / 2);
		--homepage-title-header-width: calc((100vw - 2*var(--side-padding) - var(--card-column-gap)) / 2);
	}

	.homepage-cardcontainer {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr; 
	}
}

/* Triple Column cards */
@media screen and (min-width: 800px) {
	:root {
		--card-width: calc((100vw - 2*var(--side-padding) - var(--card-horizontal-shadow-shift) - 2*var(--card-column-gap))/ 3);
	}

	.homepage-cardcontainer {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr; 
	}
}

/* Max main content width */
@media screen and (min-width: 1060px) {
	:root {
		--card-width: calc((1060px - 2*var(--side-padding) - var(--card-horizontal-shadow-shift) - 2*var(--card-column-gap)) / 3);
		--homepage-title-header-width: calc((1060px - 2*var(--side-padding) - var(--card-column-gap)) / 2);
	}
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes slideIn {
	0% { transform: translateX(-40px); }
	100% { transform: translateX(0px); }
}
