<a href="{{ .Permalink }}" class="card-anchor" id="card">
	<div class="card-content">
		
		<div class="card-imagecontainer">
			{{ if .Page.Params.thumbnail }}
			<img src="{{ .Page.Params.thumbnail }}" class="card-image">
			{{ else if .Page.Params.canvasThumbnail }}
			{{ partial "spring_mass_thumbnail.html" (dict  "isThumbnail" "true")}}
			{{ end }}
		</div>

		<div class="card-textcontainer"> 
			<table style="height: 100%; border-spacing: 0px;">
				<tr style="height: 0px; border-spacing: 0px;">
					<td valign="top" style="padding: 0px">
						<div class="card-title">
							{{ .Title }}
						</div>
					</td>
				</tr>
				<tr>
					<td valign="bottom" style="padding-top: 4px;">
						{{ partial "card_date.html" . }}
					</td>
				</tr>
			</table>
		</div>
	</div>
</a>
