<div class="socialrow-row">
	<!-- LinkedIn -->
	<a class="socialrow-anchor" href="https://www.linkedin.com/in/leobugeja/" target="_blank" rel="noopener">
		<img src="/icons/linkedin_icon.svg" class="socialrow-icon"/>
	</a>

	<!-- Github -->
	<a class="socialrow-anchor" href="https://github.com/leobugeja/" target="_blank" rel="noopener">
		<img src="/icons/github_icon.svg" class="socialrow-icon"/>
	</a>
	
	<!-- Email -->
	<a class="socialrow-anchor" href="mailto:bugeja.leo@gmail.com" target="_blank" rel="noopener">
		<img src="/icons/stretched_email_icon.svg" class="socialrow-icon"/>
	</a>
</div>
