{{ define "main" }}
<main class="homepage-main">
	<div class="homepage-header">
			<div class="homepage-titles"> 
				<div class="homepage-maintitle">{{.Params.title}}</div>
				<div class="homepage-subtitle">{{.Params.subtitle}}</div>
			</div>	

			<div class="homepage-profilediv">
				<img src="images/profile_picture.jpg" class="homepage-profilepicture">
			</div>
      </div>

	  <div class="homepage-cardheader">
		Articles:
	  </div>
	  <div class="homepage-cardcontainer">
        {{ range first 10 .Site.RegularPages }}
            {{ .Render "card"}}
        {{ end }}
      </div>
</main>
{{ end }}
